* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  font-size: 64%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.active {
  color: red;
}
.active :hover {
  text-decoration: underline;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 10rem;
}
main h2 {
  font-size: 3rem;
  margin-bottom: 4.5rem;
}

main h2 .icon {
  color: rgb(51, 105, 51);
}

/* ------------ NAVBAR ----------------------- */

nav {
  width: 55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
}
nav a {
  font-size: 2rem;
  color: #ccc;
  border-bottom: 0.3rem solid transparent;
  margin-bottom: 1rem;
}

nav a:hover {
  border-color: #3a3845;
}
nav a.active {
  color: #000;
  border-color: #68b984;
}

/* ------------ FORM ------------------  */

form input {
  border: 0.1rem sold #ccc;
  border-radius: 0.3rem;
  width: 45rem;
  margin: 4rem 0;
  padding: 0.6rem 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 1px solid #ccc;
  height: 5rem;
}

form button {
  background-color: rgb(99, 192, 99);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  width: 9rem;
  height: 4.5rem;
  font-size: 1.4rem;
  margin-left: 2rem;
}

label {
  font-size: 2rem;
  word-wrap: break-word; 
  word-break: break-word; 
  white-space: normal;
}

ul li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 40rem;
  min-height: 6rem;
  border-bottom: 1px solid #ccc;
}
ul li:first-child {
  border-top: 1px solid #ccc;
}
ul li:hover {
  background-color: #fef2f2;
}
ul li input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: #d14d72;
}

.del_btn {
  display: inline-block;
  background-color: red;
  color: white;
  border-radius: 5px;
  border: transparent;
  justify-self: center;
  width: 6rem;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
}
